<!--{template common/header}-->

<div id="ct" class="wp cl w">
	<div class="nfl">
		<div class="f_c altw">
			<div id="messagetext" class="alert_info">
				<p class="alert_btnleft"><a href="$url">{lang dst_read:message_forward}</a><script type="text/javascript" reload="1">setTimeout("window.location.href ='$url';", 3000);</script></p>
			</div>
			<iframe src="http://liudon.sinaapp.com/api/read?domain=$domain&tId=$tid&pid=$pid&uid=$_G['uid']" style="width:100%;border:0px;"></iframe>
		</div>
		
	</div>
</div>

<!--{template common/footer}-->